$spacing--100: 10px;
$spacing--300: 20px;
$spacing--500: 40px;
$color__gray--light: #eee;
$color__gray--dark: #5a5a5a;


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: #47555E;
    color: $color__gray--light;
}

main {
    @media screen and (min-width: 800px) {
        width: 800px;
        overflow: none;
        margin: 0px auto;
    }
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}


a {
    padding: $spacing--300;
    text-decoration: none;
    display: block;
    margin: 0px auto;
    color: $color__gray--light;
    border-bottom: 1px solid $color__gray--light;

    @media screen and (min-width: 800px) {
        display: inline-block;
        border-bottom: 0;
        border-right: 1px solid $color__gray--light;
        padding: 0 $spacing--300;
    }

    &:last-child {
        border-bottom: 0;

        @media screen and (min-width: 800px) {
            border-right: 0;
        }
    }

    &:visited, &:hover, &:active {
        color: $color__gray--light;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}


.site-header {
    padding: $spacing--500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__logo-container {
        flex: 0 0 100%;
        width: 100%;

        @media screen and (min-width: 800px) {
            flex: 0 0 250px;
            width: 250px;
        }
    }

    &__logo {
        width: 100%;
    }

    &__nav {
        flex: 1 1 auto;
        padding: $spacing--500;
        text-align: left;
    }
}

section {
    padding: $spacing--500;

    h3 {
        margin-bottom: $spacing--300;
    }

    p {
        margin-bottom: $spacing--500;
        display: block;
    }
    .pre {
        white-space: pre-line;
    }

    ul ul {
        margin: $spacing--300 0;
    }

    li {
        margin-bottom: $spacing--100;
    }
}

.resume {
    &__item {
        margin-bottom: $spacing--500;
    }
}

.drawer {

    &__toggle {
        cursor: pointer;
        position: relative;
        padding-right: 60px;

        &:after {
            content: '';
            background: url(/images/arrow-down.svg) no-repeat;
            background-size: 100%;
            position: absolute;
            top: 0px;
            right: 0;
            height: 20px;
            width: 20px;
            transform: rotate(-90deg);
            transition: transform 300ms ease;
            transform-origin: center;
        }
    }

    &__body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 300ms ease;
    }

    &[data-expanded = true] {
        .drawer {
            &__toggle {
                &:after {
                    transform: rotate(0deg);
                }
            }
            &__body {
                max-height: 600px;
            }
        }
    }
}

footer {
    border-top: 1px solid $color__gray--light;
    padding: $spacing--500;
    text-align: center;
}
