.weather {
	z-index: 1000;
	color: #FFF;
	padding: $padding;
	flex: 0 0 100%;
	text-align: center;
	margin-bottom: $spacing;
	min-height: 100px;
	background: $transparentBackground;

    &__temp, &__day {
    	vertical-align: middle;
    }

    &__icon {
    	height: 50px;
    	width: 50px;
    	vertical-align: middle;
    }

	&--current {
		display: inline-block;
		margin-right: $spacing;
	}

	&--forecast {
		display: inline-block;
		border-left: 1px solid #FFF;
		margin-left: $spacing;

		&__item {
			display: inline-block;
			margin: 0 $spacing;
		}
	}
}
