.weather {
	color: #FFF;
	padding: $padding;
	text-align: center;
	margin-bottom: $spacing;
	min-height: 100px;
	//background: $transparentBackground;
	display: inline-block;
	font-size: .5em;
	border-top: 1px solid #FFF;

	@media (min-width: $breakpoint--large) {
		display: block;
	}

    &__temp, &__day {
    	vertical-align: middle;
    }

    &__icon {
    	height: 50px;
    	width: 50px;
    	vertical-align: middle;
    }

	&__location {
		font-size: .75em;
		margin-top: 15px;
	}

	&--current {
		border-bottom: 1px solid #FFF;
		margin-bottom: $spacing;

		@media (min-width: $breakpoint--large) {
			display: inline-block;
			margin-right: $spacing;
			margin-bottom: 0;
			border-bottom: 0;
		}
	}

	&--forecast {
		@media (min-width: $breakpoint--large) {
			display: inline-block;
			border-left: 1px solid #FFF;
			margin-left: $spacing;
		}

		&__item {
			margin-bottom: $spacing * 2;

			@media (min-width: $breakpoint--large) {
				display: inline-block;
				margin: 0 $spacing;
			}
		}
	}
}
