.weather {
	z-index: 1000;
	color: #FFF;
	padding: 40px;
	flex: 0 0 100%;
	text-align: center;
	border-bottom: 1px solid #fff;
	min-height: 100px;

    &__temp, &__day {
    	vertical-align: middle;
    	text-shadow: 0 0 20px RGBA(0,0,0,.9);
    }

    &__icon {
    	height: 50px;
    	width: 50px;
    	vertical-align: middle;
    }

	&--current {
		display: inline-block;
	}

	&--forecast {
		display: inline-block;
		border-left: 1px solid #FFF;
		margin-left: 20px;
		
		&__item {
			display: inline-block;
			margin: 0 20px;
		}
	}
}
