.datetime {
	padding: $padding;
	background: $transparentBackground;
	margin-bottom: $spacing;
	margin-top: 0;
	font-weight: 300;
	flex: 0 0 100%;
	align-self: flex-end;
	box-sizing: border-box;

    &__time {
		font-size: 2em;
		@media (min-width: $breakpoint--medium) {
    		font-size: 4em;
		}
    }

    &__date {
    	font-size: 1em;
    }

    &__hours {
    	margin: 2px;
    }

    &__minutes {
    	margin: 2px;
    }

    &__seconds-ampm {
    	display: inline-block;
    	vertical-align: middle;
    	margin: $spacing;
    }

    &__seconds {
    	font-size: .5em;
    	display: block;
    	border-bottom: 5px solid;
    }

    &__ampm {
    	font-size: .5em;
    	text-transform: uppercase;
    	display: block;
    }

    &__month {
    	margin: $spacing;
    }

    &__day {
    	margin: $spacing;
		margin-right: 0;
    }

    &__year {
    	margin: $spacing;
    }
}
