@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);


html, body, #container {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	margin: 0;
	padding: 0;
}

.content {
	width: 100%;
}

@import 'components/datetime/datetime';
@import 'components/image/image';
@import 'components/image-container/image-container';
@import 'components/list/list';
@import 'components/weather/weather';
