.image-container {
	display: flex;
	height: 100%;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;

	&__wrapper {
		background: RGBA(0,0,0,.5);
		text-shadow: 0 0 20px RGBA(0,0,0,.9);
		display: inline-block;
	}
}
