.list {

	display: inline-block;
	position: relative;
	z-index: 10;
	padding: 40px;
	text-align: left;
	vertical-align: top;
	background: $transparentBackground;
	margin-bottom: $spacing;
	max-width: 400px;
	width: 320px;
	box-sizing: border-box;

	h2 {
		margin-top: 0;
		padding-top: 0;
		font-weight: 300;
	}

	&:not(:last-child) {
		@media (min-width: $breakpoint--large) {
			margin-right: $spacing;
		}
	}

    &-container {
    	flex: 0 0 100%;
    }

    ul {
    	list-style: none;
    	padding: 0;
    	padding-bottom: $padding;
    	margin: 0;
    	margin-bottom: $spacing;
    	border-bottom: 1px solid #FFF;
    }

	&__add-input {
		border-radius: 5px;
		outline: none;
		border: 1px solid #000;
		padding: 5px;
		width: calc(100% - 70px);
	}

	&__item {
		&__label {
			display: inline-block;
			max-width: calc(100% - 50px);
			margin-left: $spacing;
		}

	    input[type=checkbox] {
	    	margin-right: $spacing;
	    	margin-top: $spacing/2;
	    	vertical-align: top;
	    }
	}

    &__button {
    	background: #FFF;
    	outline: none;
    	border-radius: 5px;
    	border: none;
    	margin: 0 5px;
		padding: 5px;
    	text-transform: uppercase;

		&--remove {
			float: right;
			vertical-align: middle;
		}
    }
}
